*{
    box-sizing: border-box;
}


body{
    background-color: #bfe299;
    background-image: linear-gradient(315deg, #bfe299 0%, #66b5f6 74%);;
    align-items: center;
    justify-content: center;
    display: flex;
    min-height: 100dvh;
    border: 2;

}


.form{
background-color: #44b09e;
background-image: linear-gradient(315deg, #44b09e 0%, #e0d2c7 74%);
    border-radius: 10px;
    box-shadow: 0 0 0 5px rgba(0,0,0,0.2);
    

}